In [154]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 라이브러리

In [155]:
import pandas as pd
import numpy as np
import csv
import os

## path 설정

In [156]:
# path = '../..'
path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더'
camb_word_path = f'{path}/words/raw_word_data/new'
origin_word_path = f'{path}/words/final_datasets'

## 결과 데이터프레임

In [157]:
# /content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더/words/final_datasets/entire_lemmas_complete_compounds.csv
print(f'{origin_word_path}/entire_lemmas_complete_compounds.csv')
if os.path.exists(f'{origin_word_path}/entire_lemmas_complete_compounds.csv'):
    df_result = pd.read_csv(f'{origin_word_path}/entire_lemmas_complete_compounds.csv', index_col='Word')
    display(df_result)
else:
  print('not exists file');

/content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더/words/final_datasets/entire_lemmas_complete_compounds.csv

                                                              Lemmas
Word
be                         is;was;are;were;'s;been;being;'re;'m;am;m
have                                   had;has;'ve;having;'s;'d;d;ve
it                                                          its;they
he                                                      his;him;they
i                                                        my;me;we;is
...                                                              ...
short-term               shortterm;short term;shortterms;short terms
so-called                    socalled;so called;socalleds;so calleds
thought-provoking  thoughtprovoking;thought provoking;thoughtprov...
used-to                              usedto;used to;usedtos;used tos
vis-à-vis                      visàvis;vis à vis;visàviss;vis à viss

[84745 rows x 1 columns]

## 단어 파일 불러와서 합치기

In [158]:
# /content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더/words/raw_word_data/new/NAWL_1.0_lemmatized_for_research.csv
# /content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더/words/raw_word_data/new/NDL_1.0_lemmatized_for_research.csv
file_name1 = f'{camb_word_path}/NAWL_1.0_lemmatized_for_research.csv'
file_name2 = f'{camb_word_path}/NDL_1.0_lemmatized_for_research.csv'

f = open(file_name1)
reader = csv.reader(f)

csv_list = []
for line in reader:
    csv_list.append(line)
f.close()

f = open(file_name2)
reader = csv.reader(f)

for line in reader:
    csv_list.append(line)
f.close()

df = pd.DataFrame(csv_list)
df.rename(columns={0:'Word'}, inplace=True)
df.set_index('Word', inplace=True)
df

                         1            2             3   ...    15    16    17
Word                                                    ...
abdominal        abdominals         None          None  ...  None  None  None
absorb              absorbs     absorbed     absorbing  ...  None  None  None
absorption      absorptions         None          None  ...  None  None  None
accelerate      accelerates  accelerated  accelerating  ...  None  None  None
acceleration  accelerations         None          None  ...  None  None  None
...                     ...          ...           ...  ...   ...   ...   ...
you                       y           ye          None  ...  None  None  None
young               younger     youngest          None  ...  None  None  None
yourself         yourselves      yerself     yerselves  ...  None  None  None
yum                    None         None          None  ...  None  None  None
zoo                    zoos         None          None  ...  None  None  None

[1837 rows x 17 columns]

## 소문자로

In [159]:
for c in df.columns:
  df[c] = df[c].str.lower()

df

                         1            2             3   ...    15    16    17
Word                                                    ...
abdominal        abdominals         None          None  ...  None  None  None
absorb              absorbs     absorbed     absorbing  ...  None  None  None
absorption      absorptions         None          None  ...  None  None  None
accelerate      accelerates  accelerated  accelerating  ...  None  None  None
acceleration  accelerations         None          None  ...  None  None  None
...                     ...          ...           ...  ...   ...   ...   ...
you                       y           ye          None  ...  None  None  None
young               younger     youngest          None  ...  None  None  None
yourself         yourselves      yerself     yerselves  ...  None  None  None
yum                    None         None          None  ...  None  None  None
zoo                    zoos         None          None  ...  None  None  None

[1837 rows x 17 columns]

## df_result에 있는 것과 없는 것으로 나누기

In [160]:
df_right = df_result.join(df, how='right')
df_new = df_right[df_right['Lemmas'].isnull()]
df_dupl = df_right[~df_right['Lemmas'].isnull()]
# display(df_new, df_dupl)
df_new.head()
# df[df.index=='I']
# df_result[df_result.index=='I']

           Lemmas          1         2          3  ...    14    15    16    17
Word                                               ...
I             NaN       None      None       None  ...  None  None  None  None
Saturday      NaN  saturdays  saturday  saturdays  ...  None  None  None  None
about         NaN     abouts      None       None  ...  None  None  None  None
accurately    NaN       None      None       None  ...  None  None  None  None
acidic        NaN    acidics      None       None  ...  None  None  None  None

[5 rows x 18 columns]

## 없던 단어(df_new) 처리

In [161]:
df_new['Lemmas'] = None
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189 entries, I to yum
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lemmas  0 non-null      object
 1   1       40 non-null     object
 2   2       3 non-null      object
 3   3       3 non-null      object
 4   4       1 non-null      object
 5   5       0 non-null      object
 6   6       0 non-null      object
 7   7       0 non-null      object
 8   8       0 non-null      object
 9   9       0 non-null      object
 10  10      0 non-null      object
 11  11      0 non-null      object
 12  12      0 non-null      object
 13  13      0 non-null      object
 14  14      0 non-null      object
 15  15      0 non-null      object
 16  16      0 non-null      object
 17  17      0 non-null      object
dtypes: object(18)
memory usage: 28.1+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [164]:
processed_df_new = df_new.copy()

def addLemmas(lemmas, col):
  if lemmas==None or str(lemmas)=='':
    if col==None or str(col)=='':
      return ''
    else:
      return col
  else:
    if col==None or str(col)=='':
      return lemmas
    else:
      if str(col) in str(lemmas).split(';'):
        return lemmas
      else:
        return str(lemmas) + ';' + str(col) + ';'

# processed_df_new['Lemmas2'] = processed_df_new.apply(lambda x: x['Lemmas'].str.cat(x[1], sep=';' if x['Lemmas']==None else x[1]), axis=1)
processed_df_new.dropna(how='all', inplace=True)
for i in range(1, 18):
  processed_df_new['Lemmas'] = processed_df_new.apply(lambda x: addLemmas(x['Lemmas'], x[i]), axis=1)
# processed_df_new['Lemmas'] = processed_df_new.apply(lambda x: addLemmas(x['Lemmas'], x[2]), axis=1)
processed_df_new = pd.DataFrame(processed_df_new['Lemmas'])
# processed_df_new['Lemmas'] = processed_df_new.apply(lambda x: x['Lemmas'].split(';'))
len(processed_df_new)

40

## 존재하던 단어(df_dupl) 처리

In [185]:
processed_df_dupl = df_dupl.copy()

def addLemmas(lemmas, col):
  if lemmas==None or str(lemmas)=='':
    if col==None or str(col)=='':
      return ''
    else:
      return col
  else:
    if col==None or str(col)=='':
      return lemmas
    else:
      if str(col) in str(lemmas).split(';'):
        return lemmas
      else:
        return str(lemmas) + ';' + str(col) + ';'

# processed_df_dupl['Lemmas2'] = processed_df_dupl.apply(lambda x: x['Lemmas'].str.cat(x[1], sep=';' if x['Lemmas']==None else x[1]), axis=1)
processed_df_dupl.dropna(how='all', inplace=True)
for i in range(1, 18):
  processed_df_dupl['Lemmas'] = processed_df_dupl.apply(lambda x: addLemmas(x['Lemmas'], x[i]), axis=1)
# processed_df_dupl['Lemmas'] = processed_df_dupl.apply(lambda x: addLemmas(x['Lemmas'], x[2]), axis=1)
processed_df_dupl['Lemmas'] = processed_df_dupl['Lemmas'].str.replace(';;;', ';')
processed_df_dupl['Lemmas'] = processed_df_dupl['Lemmas'].str.replace(';;', ';')

processed_df_dupl = pd.DataFrame(processed_df_dupl['Lemmas'])
display(len(processed_df_dupl), processed_df_dupl)

1648

                                             Lemmas
Word
a                                                an
abdominal                                abdominals
able       abler;ablest;ables;abled;abling;ablings;
above                                        aboves
absorb                   absorbed;absorbing;absorbs
...                                             ...
yesterday                                yesterdays
you                                   your;ya;ye;y;
young                              younger;youngest
yourself              yourselves;yerself;yerselves;
zoo                                            zoos

[1648 rows x 1 columns]

## 합치고 중복 제거해서 마지막 값만 남기기

In [187]:
# 없던 값들 합치기
display(len(df_result), len(processed_df_new))
df_result = pd.concat([df_result, processed_df_new])
display(len(df_result))

84745

40

84785

In [188]:
# 중복됐던 값들 합치기
display(len(df_result), len(processed_df_dupl))
df_result = pd.concat([df_result, processed_df_dupl])
display(len(df_result))

84785

1648

86433

In [209]:
final_df_result = df_result.reset_index()
final_df_result = final_df_result.drop_duplicates(subset='Word', keep='last')
# final_df_result[final_df_result['Word']=='able']
# final_df_result

display(len(final_df_result))

84785