라이브러리

In [92]:
import pandas as pd

파일

In [93]:
path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/data/words'
file1 = ['NGSL+1.01+with+SFI.xlsx', 'ngsl_freq.csv']
file2 = ['NGSL+Spoken+1.01.xlsx', 'ngsl_sp_freq.csv']
input = file2[0]
output = file2[1]
filename = input

In [94]:
file = pd.read_excel(f'{path}/{filename}')

In [95]:
data = file
display(data.info(), data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22231 entries, 0 to 22230
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Lemma          22229 non-null  object
 1   Word list      3791 non-null   object
 2   temp           2833 non-null   float64
 3   SFI            22231 non-null  float64
 4   U              22231 non-null  float64
 5   D              22231 non-null  float64
 6   F              22231 non-null  int64
 7   F Radio        22231 non-null  int64
 8   F Spoken       22231 non-null  int64
 9   F TV           22231 non-null  int64
 10  U coverage     22231 non-null  float64
 11  U cummulative  22231 non-null  float64
dtypes: float64(6), int64(4), object(2)
memory usage: 2.0+ MB

None

  Lemma Word list  temp        SFI  ...  F Spoken    F TV  U coverage  U cummulative
0    be  1 - NGSL   1.0  87.950320  ...   1810626  692244    0.062378       0.062378
1   the  1 - NGSL   1.0  87.032816  ...   1143723  666636    0.050499       0.112877
2   and  1 - NGSL   1.0  84.917407  ...    853672  338683    0.031027       0.143904
3    to  1 - NGSL   1.0  84.523478  ...    707406  348638    0.028337       0.172241
4     a  1 - NGSL   1.0  84.235687  ...    657570  329215    0.026520       0.198760

[5 rows x 12 columns]

Lemma 컬럼 제외하고 삭제

In [96]:
data = data['Lemma'].to_frame().reset_index(drop=True)
data
# display(data1.iloc[:, 2:],
# data1[list(range(2, 19))])
# data1[2] = data1.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
# data2[2] = data2.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
# data3[2] = data3.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
# data1

            Lemma
0              be
1             the
2             and
3              to
4               a
...           ...
22226     vaunted
22227   vehemence
22228  victimizer
22229     washout
22230  yesteryear

[22231 rows x 1 columns]

Frequency 컬럼에 범주형(Category) 데이터 입력

In [97]:
bins = [0, 999, 1999, 2999, 3999, 5999, 7999, 9999, 14999, 19999, 24999, 29999, 34999]
group_names = ['A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3', 'C4', 'C5']
data['Frequency'] = pd.cut(data.index, bins, labels=group_names, include_lowest = True)

In [98]:
display(data.head(), data[995:1005], data[9995:10005], data.tail())

  Lemma Frequency
0    be        A1
1   the        A1
2   and        A1
3    to        A1
4     a        A1

          Lemma Frequency
995    customer        A1
996   secretary        A1
997     success        A1
998     mistake        A1
999     suspect        A1
1000      prove        A2
1001    anymore        A2
1002       gain        A2
1003       blow        A2
1004   struggle        A2

             Lemma Frequency
9995         wiper        B3
9996    adventurer        B3
9997    reversible        B3
9998         hyper        B3
9999       typhoon        B3
10000   grapefruit        C1
10001    onslaught        C1
10002  objectivity        C1
10003    goodnight        C1
10004   incidental        C1

            Lemma Frequency
22226     vaunted        C3
22227   vehemence        C3
22228  victimizer        C3
22229     washout        C3
22230  yesteryear        C3

컬럼명 수정

In [ ]:
data = data.rename(columns={'Lemma': 'Word'})

파일로 내보내기

In [99]:
# path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/data/words'
data.to_csv(f'{path}/{output}', index=False)
# data.to_csv(f'{path}/ngsl_sp_freq.csv', index=False)

In [100]:
# # lemmas의 개수가 달라서 컬럼 숫자가 다름. 그로인한 오류를 방지하기 위해 일단 컬럼수를 50으로 잡아줌
# bsl_df = pd.read_csv("./word_data/BSL_1.01_lemmatized_for_research.csv", header=None, names=range(50))
# # 컬럼 전체가 NaN인 컬럼은 떨궈줌
# bsl_df = bsl_df.dropna(axis=1, how='all') 
# # NaN 값을 '' 로 바꾼후 word1;word2;word3 로 컬럼 저장
# bsl_df = bsl_df.fillna('')
# bsl_df['Lemmas'] = bsl_df[list(range(1, 14))].agg(';'.join, axis=1).str.rstrip(';')
# bsl_df = bsl_df.rename(columns={0: "Word"})
# # Word, Lemmas 컬럼 빼고 다 떨궈줌
# bsl_df = bsl_df.drop(bsl_df.columns.difference(['Word', 'Lemmas']), 1)
# bsl_df.to_csv("bsl_with_lemmas.csv", index=False)