## 라이브러리

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')

## 파일 불러오기

In [21]:
import os
path = '../script'

# 다큐멘터리(0), 드라마(1), 영화(2) 선택
category = 2
if category == 0:
    path = path + '/Documentary'
elif category == 1:
    path = path + '/Drama'
else:
    path = path + '/Movie'

_list = os.listdir(path)
file_list = []
for file in _list:
    if file.startswith('.'): continue
    file_list.append(file)

print(len(file_list), file_list[:5])

46 ['About.Time', 'Arthur.Christmas', 'Baby.Driver', 'Baby.DriverBaby.Driver', 'Bad.Boys']

## 여기서 작품 선택합니다 꼭!!

In [22]:
# 바로 위 코드에서 file_list를 참고하여 작품 선택
title = file_list[0]

file_name = title + '.WEBRip.Netflix.en[cc]'
print(f'{path}/{title}/{file_name}')

../script/Movie/About.Time/About.Time.WEBRip.Netflix.en[cc]

In [23]:
file = pd.read_csv(f'{path}/{title}/{file_name}.csv')
df = file
display(df.info(), df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   3330 non-null   object
 1   end     3330 non-null   object
 2   script  3330 non-null   object
dtypes: object(3)
memory usage: 78.2+ KB

None

,start,end,script
0,00:00:54.291,00:00:57.208,"['I', 'always', 'knew']"
1,00:00:54.291,00:00:57.208,"['we', 'were', 'a', 'fairly', 'odd', 'family.']"
2,00:00:57.250,00:01:02.125,"['First', 'there', 'was', 'me.']"
3,00:00:57.250,00:01:02.125,"['Too', 'tall,', 'too', 'skinny,']"
4,00:00:57.250,00:01:02.125,"['too', 'orange.']"
...,...,...,...
3325,01:56:40.250,01:56:42.625,['Mm-hmm.']
3326,01:56:40.250,01:56:42.625,['No.']
3327,01:56:51.542,01:56:53.500,"['Okay.', ""I'll"", 'see', 'you', 'then.']"
3328,01:56:53.542,01:56:56.417,['Bye-bye.']
3329,01:56:53.542,01:56:56.417,"['See', 'you', 'later.']"

## 자막이 재생되는 시간 계산

In [24]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])
df

,start,end,script
0,2021-10-03 00:00:54.291,2021-10-03 00:00:57.208,"['I', 'always', 'knew']"
1,2021-10-03 00:00:54.291,2021-10-03 00:00:57.208,"['we', 'were', 'a', 'fairly', 'odd', 'family.']"
2,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['First', 'there', 'was', 'me.']"
3,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['Too', 'tall,', 'too', 'skinny,']"
4,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['too', 'orange.']"
...,...,...,...
3325,2021-10-03 01:56:40.250,2021-10-03 01:56:42.625,['Mm-hmm.']
3326,2021-10-03 01:56:40.250,2021-10-03 01:56:42.625,['No.']
3327,2021-10-03 01:56:51.542,2021-10-03 01:56:53.500,"['Okay.', ""I'll"", 'see', 'you', 'then.']"
3328,2021-10-03 01:56:53.542,2021-10-03 01:56:56.417,['Bye-bye.']
3329,2021-10-03 01:56:53.542,2021-10-03 01:56:56.417,"['See', 'you', 'later.']"

In [25]:
df['duration'] = df['end'] - df['start']
df['duration'] = df['duration'].astype('str')
df['duration'] = df['duration'].str.split(' ').str[2]
df['duration'] = df['duration'].str.split(':').str[2].astype('float')
display(df.info(), df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   start     3330 non-null   datetime64[ns]
 1   end       3330 non-null   datetime64[ns]
 2   script    3330 non-null   object
 3   duration  3330 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 104.2+ KB

None

,start,end,script,duration
0,2021-10-03 00:00:54.291,2021-10-03 00:00:57.208,"['I', 'always', 'knew']",2.917
1,2021-10-03 00:00:54.291,2021-10-03 00:00:57.208,"['we', 'were', 'a', 'fairly', 'odd', 'family.']",2.917
2,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['First', 'there', 'was', 'me.']",4.875
3,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['Too', 'tall,', 'too', 'skinny,']",4.875
4,2021-10-03 00:00:57.250,2021-10-03 00:01:02.125,"['too', 'orange.']",4.875

## 필요없는 컬럼 제거

In [26]:
df = df.drop(columns=['start', 'end'])
df.head()

                                            script  duration
0                          ['I', 'always', 'knew']     2.917
1  ['we', 'were', 'a', 'fairly', 'odd', 'family.']     2.917
2                 ['First', 'there', 'was', 'me.']     4.875
3               ['Too', 'tall,', 'too', 'skinny,']     4.875
4                               ['too', 'orange.']     4.875

## 단어의 개수 계산(띄어쓰기 기준)

In [27]:
df['words_num'] = df['script'].apply(lambda x: len(x.split(' ')))
df

                                               script  duration  words_num
0                             ['I', 'always', 'knew']     2.917          3
1     ['we', 'were', 'a', 'fairly', 'odd', 'family.']     2.917          6
2                    ['First', 'there', 'was', 'me.']     4.875          4
3                  ['Too', 'tall,', 'too', 'skinny,']     4.875          4
4                                  ['too', 'orange.']     4.875          2
...                                               ...       ...        ...
3325                                      ['Mm-hmm.']     2.375          1
3326                                          ['No.']     2.375          1
3327         ['Okay.', "I'll", 'see', 'you', 'then.']     1.958          5
3328                                     ['Bye-bye.']     2.875          1
3329                         ['See', 'you', 'later.']     2.875          3

[3330 rows x 3 columns]

# 1초에 몇 개의 단어가 보여지는지 계산

In [28]:
df['wordsPerSec'] = df['words_num'] / df['duration']
df['secPerWord'] = df['duration'] / df['words_num']
df

,script,duration,words_num,wordsPerSec,secPerWord
0,"['I', 'always', 'knew']",2.917,3,1.028454,0.972333
1,"['we', 'were', 'a', 'fairly', 'odd', 'family.']",2.917,6,2.056908,0.486167
2,"['First', 'there', 'was', 'me.']",4.875,4,0.820513,1.218750
3,"['Too', 'tall,', 'too', 'skinny,']",4.875,4,0.820513,1.218750
4,"['too', 'orange.']",4.875,2,0.410256,2.437500
...,...,...,...,...,...
3325,['Mm-hmm.'],2.375,1,0.421053,2.375000
3326,['No.'],2.375,1,0.421053,2.375000
3327,"['Okay.', ""I'll"", 'see', 'you', 'then.']",1.958,5,2.553626,0.391600
3328,['Bye-bye.'],2.875,1,0.347826,2.875000
3329,"['See', 'you', 'later.']",2.875,3,1.043478,0.958333

## describe 보기

In [29]:
df.describe()

          duration    words_num  wordsPerSec   secPerWord
count  3330.000000  3330.000000  3330.000000  3330.000000
mean      2.732684     3.430330     1.318293     0.989482
std       0.924438     1.555457     0.623649     0.611203
min       0.833000     1.000000     0.158957     0.241800
25%       2.042000     2.000000     0.857633     0.593500
50%       2.543000     3.000000     1.231527     0.812000
75%       3.250750     4.000000     1.684920     1.166000
max       6.291000     9.000000     4.135649     6.291000

In [30]:
df = df.sort_values('wordsPerSec')
pd.set_option('min_rows', 10)
pd.set_option('max_rows', 10)
df.tail(10)

,script,duration,words_num,wordsPerSec,secPerWord
1486,"['No,', 'not', 'that', 'bad.']",1.125,4,3.555556,0.281250
1699,"['-', 'Oh,', 'how', 'lovely', 'to', 'see', 'yo...",1.958,7,3.575077,0.279714
2193,"['""How', 'much', 'are', 'you', 'gonna', 'pay',...",1.958,7,3.575077,0.279714
2347,"['And', ""it's"", 'a', 'shock', 'how', 'quickly....",1.666,6,3.601441,0.277667
275,"['the', 'way', 'you', 'want', 'it', 'to', 'be.']",1.916,7,3.653445,0.273714
3112,"['And', 'then', 'I', 'killed', 'a', 'man.']",1.625,6,3.692308,0.270833
2275,"['People', 'should', 'wear', 'name', 'tags.']",1.334,5,3.748126,0.266800
1385,"['I', 'got', 'a', 'lift', 'to', 'the', 'party.']",1.833,7,3.818876,0.261857
2007,"['-', 'There', 'are', 'tears', 'in', 'his', 'e...",1.792,7,3.906250,0.256000
1464,"['Oh,', 'my', 'God.', ""We're"", 'late.']",1.209,5,4.135649,0.241800

In [31]:
df = df.sort_values('secPerWord')
df.tail(10)

               script  duration  words_num  wordsPerSec  secPerWord
2169         ['Um--']     4.041          1     0.247463       4.041
2306       ['There.']     4.083          1     0.244918       4.083
2107        ['Okay.']     4.208          1     0.237643       4.208
2292        ['Phew.']     4.209          1     0.237586       4.209
2953       ['Sorry.']     4.250          1     0.235294       4.250
2839         ['Uh--']     4.292          1     0.232992       4.292
3186  ['Absolutely.']     4.667          1     0.214270       4.667
2646        ['Lost.']     4.917          1     0.203376       4.917
2879       ['Sorry.']     5.167          1     0.193536       5.167
2252        ['kind.']     6.291          1     0.158957       6.291