## 라이브러리

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')

## path 설정

In [2]:
path = '../..'
# path = 
word_path = f'{path}/words/final_datasets'

## 데이터 프레임 불러오기

In [3]:
df_result_word_level_counts = pd.read_csv(f'{word_path}/all_scripts_word_level_counts.csv', index_col='title')
df_result_WPS = pd.read_csv(f'{word_path}/all_scripts_WPS.csv', index_col='title')
df_result_running_time = pd.read_csv(f'{word_path}/all_scripts_running_time.csv', index_col='title')

## 데이터 확인

In [4]:
display(df_result_word_level_counts.info(), df_result_word_level_counts)

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 13TH to Zodiac
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_1  73 non-null     int64
 1   level_2  73 non-null     int64
 2   level_3  73 non-null     int64
 3   level_4  73 non-null     int64
 4   level_5  73 non-null     int64
 5   level_6  73 non-null     int64
dtypes: int64(6)
memory usage: 4.0+ KB

None

,level_1,level_2,level_3,level_4,level_5,level_6
title,,,,,,
13TH,693,362,373,76,34,30
About.Time,619,168,182,41,23,13
Anne.with.an.E,876,388,489,204,49,96
Arthur.Christmas,528,138,181,56,32,30
Baby.Driver,577,149,176,41,17,24
...,...,...,...,...,...,...
There.Will.Be.Blood,501,129,126,23,7,18
Three.Identical.Strangers,612,171,182,30,17,18
Virunga,468,177,112,24,8,7
What.the.Health,753,322,397,86,57,55
Zodiac,771,238,260,76,36,42

In [5]:
display(df_result_WPS.info(), df_result_WPS)

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 13TH to Zodiac
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   WPS_mean  73 non-null     float64
 1   WPS_std   73 non-null     float64
 2   WPS_min   73 non-null     float64
 3   WPS_max   73 non-null     float64
dtypes: float64(4)
memory usage: 2.9+ KB

None

                           WPS_mean   WPS_std   WPS_min    WPS_max
title
13TH                       2.961973  0.793955  1.065530   5.997001
About.Time                 2.182928  1.094544  0.503440   6.080000
Anne.with.an.E             3.098348  0.945341  0.592066   6.849315
Arthur.Christmas           2.156860  0.925752  0.510204   5.263158
Baby.Driver                2.833974  1.249704  0.574053  10.657194
...                             ...       ...       ...        ...
There.Will.Be.Blood        2.341123  1.015496  0.564175   6.594724
Three.Identical.Strangers  3.051841  1.033558  0.736594   7.733952
Virunga                    2.318065  0.882764  0.625000   6.818182
What.the.Health            3.100264  0.851034  0.799041   7.084469
Zodiac                     3.030728  0.970173  0.538117   7.377805

[73 rows x 4 columns]

In [6]:
display(df_result_running_time.info(), df_result_running_time)

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, About.Time to What.the.Health
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   running_time(sec)  73 non-null     float64
 1   weight             73 non-null     float64
dtypes: float64(2)
memory usage: 1.7+ KB

None

                           running_time(sec)    weight
title
About.Time                          6962.126  0.517083
Arthur.Christmas                    5404.775  0.666078
Baby.Driver                         6654.023  0.541026
Bad.Boys                            6847.716  0.525723
Bee.Movie                           5425.420  0.663543
...                                      ...       ...
Seaspiracy                          5198.359  0.692526
The.Social.Dilemma                  5546.040  0.649112
Three.Identical.Strangers           5542.412  0.649537
Virunga                             5492.720  0.655413
What.the.Health                     5342.963  0.673783

[73 rows x 2 columns]

In [7]:
df_result = df_result_word_level_counts.merge(df_result_WPS, on='title')
df_result = df_result.merge(df_result_running_time, on='title')
df_result

,level_1,level_2,level_3,level_4,level_5,level_6,WPS_mean,WPS_std,WPS_min,WPS_max,running_time(sec),weight
title,,,,,,,,,,,,
13TH,693,362,373,76,34,30,2.961973,0.793955,1.065530,5.997001,5744.280,0.626710
About.Time,619,168,182,41,23,13,2.182928,1.094544,0.503440,6.080000,6962.126,0.517083
Anne.with.an.E,876,388,489,204,49,96,3.098348,0.945341,0.592066,6.849315,20562.876,0.175073
Arthur.Christmas,528,138,181,56,32,30,2.156860,0.925752,0.510204,5.263158,5404.775,0.666078
Baby.Driver,577,149,176,41,17,24,2.833974,1.249704,0.574053,10.657194,6654.023,0.541026
...,...,...,...,...,...,...,...,...,...,...,...,...
There.Will.Be.Blood,501,129,126,23,7,18,2.341123,1.015496,0.564175,6.594724,8764.213,0.410761
Three.Identical.Strangers,612,171,182,30,17,18,3.051841,1.033558,0.736594,7.733952,5542.412,0.649537
Virunga,468,177,112,24,8,7,2.318065,0.882764,0.625000,6.818182,5492.720,0.655413
What.the.Health,753,322,397,86,57,55,3.100264,0.851034,0.799041,7.084469,5342.963,0.673783
Zodiac,771,238,260,76,36,42,3.030728,0.970173,0.538117,7.377805,9250.533,0.389167

## csv 파이롤 변환

In [8]:
df_result = df_result.sort_index()
df_result.to_csv(f'{word_path}/all_scripts.csv')