## 라이브러리

In [95]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')

## path 설정

In [96]:
path = '../..'
script_path = f'{path}/script'
word_path = f'{path}/words/final_datasets'

## 결과 데이터프레임 생성

In [97]:
if os.path.exists(f'{word_path}/all_scripts_WPS.csv'):
    df_result = pd.read_csv(f'{word_path}/all_scripts_WPS.csv', index_col='title')
else:
    df_result = pd.DataFrame(columns=['title', 'WPS_mean', 'WPS_std', 'WPS_min', 'WPS_max']).set_index('title')

df_result

                           WPS_mean   WPS_std   WPS_min    WPS_max
title
13TH                       2.961973  0.793955  1.065530   5.997001
About.Time                 2.182928  1.094544  0.503440   6.080000
Anne.with.an.E             3.098348  0.945341  0.592066   6.849315
Arthur.Christmas           2.156860  0.925752  0.510204   5.263158
Baby.Driver                2.833974  1.249704  0.574053  10.657194
...                             ...       ...       ...        ...
There.Will.Be.Blood        2.341123  1.015496  0.564175   6.594724
Three.Identical.Strangers  3.051841  1.033558  0.736594   7.733952
Virunga                    2.318065  0.882764  0.625000   6.818182
What.the.Health            3.100264  0.851034  0.799041   7.084469
Zodiac                     3.030728  0.970173  0.538117   7.377805

[73 rows x 4 columns]

## 파일 불러오기

In [98]:
import os

# 다큐멘터리(0), 드라마(1), 영화(2) 선택
category = 1
if category == 0:
    script_path_cat = script_path + '/Documentary'
elif category == 1:
    script_path_cat = script_path + '/Drama'
else:
    script_path_cat = script_path + '/Movie'

_list = os.listdir(script_path_cat)
file_list = []
for file in _list:
    if file.startswith('.'): continue
    file_list.append(file)

file_list = sorted(file_list)
print(f'작품개수: {len(file_list)}')
count = 0
for index, title in enumerate(file_list):
    print(f'[{index}: {title}]', end=', ')
    count += 1
    if count%5 == 0:
        print()

작품개수: 14
[0: Anne.with.an.E], [1: Better.Call.Saul], [2: Black.Mirror], [3: Breaking.Bad], [4: Disenchantment],
[5: Friends], [6: How.to.Get.Away.With.Murder], [7: MINDHUNTER], [8: Narcos], [9: Peaky.Blinders],
[10: Rick.and.Morty], [11: Sherlock], [12: Stranger.Things], [13: The.Good.Doctor],

## 여기서 작품 선택합니다 꼭!!

In [99]:
# 바로 위 코드에서 file_list를 참고하여 작품 선택
title = file_list[0]
if (df_result.index==title).any(): print(f'{title} is already exists')

file_name = title + '.WEBRip.Netflix.en[cc]'
print(f'{script_path_cat}/{title}/{file_name}')

Anne.with.an.E is already exists
../../script/Drama/Anne.with.an.E/Anne.with.an.E.WEBRip.Netflix.en[cc]

In [100]:
df_file = pd.read_csv(f'{script_path_cat}/{title}/{file_name}.csv')
df = df_file
display(df.info(), df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   3706 non-null   object
 1   end     3706 non-null   object
 2   script  3706 non-null   object
dtypes: object(3)
memory usage: 87.0+ KB

None

,start,end,script
0,00:01:28.046,00:01:31.174,You'll want to hurry and eat if you're to meet...
1,00:01:36.554,00:01:39.349,We made a practical decision. We'll just have ...
2,00:01:40.058,00:01:42.936,"With any luck, Mrs. Spencer will have picked o..."
3,00:01:43.019,00:01:46.564,"A hard worker and obedient, like we asked for."
4,00:01:47.106,00:01:49.943,I couldn't tolerate a lazy boy or a sullen boy.
...,...,...,...
3701,00:42:53.487,00:42:55.573,"It's simple fare, but thank you."
3702,00:42:55.656,00:42:58.367,I wonder what's happened to that other fellow ...
3703,00:43:00.119,00:43:01.620,That must be him.
3704,00:43:03.414,00:43:04.456,I'll get it.
3705,00:43:15.801,00:43:17.803,Please tell me this is Green Gables.

## 자막이 재생되는 시간 계산

In [101]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])
df

,start,end,script
0,2021-10-07 00:01:28.046,2021-10-07 00:01:31.174,You'll want to hurry and eat if you're to meet...
1,2021-10-07 00:01:36.554,2021-10-07 00:01:39.349,We made a practical decision. We'll just have ...
2,2021-10-07 00:01:40.058,2021-10-07 00:01:42.936,"With any luck, Mrs. Spencer will have picked o..."
3,2021-10-07 00:01:43.019,2021-10-07 00:01:46.564,"A hard worker and obedient, like we asked for."
4,2021-10-07 00:01:47.106,2021-10-07 00:01:49.943,I couldn't tolerate a lazy boy or a sullen boy.
...,...,...,...
3701,2021-10-07 00:42:53.487,2021-10-07 00:42:55.573,"It's simple fare, but thank you."
3702,2021-10-07 00:42:55.656,2021-10-07 00:42:58.367,I wonder what's happened to that other fellow ...
3703,2021-10-07 00:43:00.119,2021-10-07 00:43:01.620,That must be him.
3704,2021-10-07 00:43:03.414,2021-10-07 00:43:04.456,I'll get it.
3705,2021-10-07 00:43:15.801,2021-10-07 00:43:17.803,Please tell me this is Green Gables.

In [102]:
df['duration'] = df['end'] - df['start']
df['duration'] = df['duration'].astype('str')
df['duration'] = df['duration'].str.split(' ').str[2]
df['duration'] = df['duration'].str.split(':').str[2].astype('float')
display(df.info(), df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   start     3706 non-null   datetime64[ns]
 1   end       3706 non-null   datetime64[ns]
 2   script    3706 non-null   object
 3   duration  3706 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 115.9+ KB

None

,start,end,script,duration
0,2021-10-07 00:01:28.046,2021-10-07 00:01:31.174,You'll want to hurry and eat if you're to meet...,3.128
1,2021-10-07 00:01:36.554,2021-10-07 00:01:39.349,We made a practical decision. We'll just have ...,2.795
2,2021-10-07 00:01:40.058,2021-10-07 00:01:42.936,"With any luck, Mrs. Spencer will have picked o...",2.878
3,2021-10-07 00:01:43.019,2021-10-07 00:01:46.564,"A hard worker and obedient, like we asked for.",3.545
4,2021-10-07 00:01:47.106,2021-10-07 00:01:49.943,I couldn't tolerate a lazy boy or a sullen boy.,2.837

## 필요없는 컬럼 제거

In [103]:
df = df.drop(columns=['start', 'end'])
df.head()

                                              script  duration
0  You'll want to hurry and eat if you're to meet...     3.128
1  We made a practical decision. We'll just have ...     2.795
2  With any luck, Mrs. Spencer will have picked o...     2.878
3     A hard worker and obedient, like we asked for.     3.545
4    I couldn't tolerate a lazy boy or a sullen boy.     2.837

## 단어의 개수 계산(띄어쓰기 기준)

In [104]:
df['words_num'] = df['script'].apply(lambda x: len(x.split(' ')))
df

                                                 script  duration  words_num
0     You'll want to hurry and eat if you're to meet...     3.128         14
1     We made a practical decision. We'll just have ...     2.795         13
2     With any luck, Mrs. Spencer will have picked o...     2.878         12
3        A hard worker and obedient, like we asked for.     3.545          9
4       I couldn't tolerate a lazy boy or a sullen boy.     2.837         10
...                                                 ...       ...        ...
3701                   It's simple fare, but thank you.     2.086          6
3702  I wonder what's happened to that other fellow ...     2.711         11
3703                                  That must be him.     1.501          4
3704                                       I'll get it.     1.042          3
3705               Please tell me this is Green Gables.     2.002          7

[3706 rows x 3 columns]

# 1초에 몇 개의 단어가 보여지는지 계산

In [105]:
df['wordsPerSec'] = df['words_num'] / df['duration']
df['secPerWord'] = df['duration'] / df['words_num']
df

,script,duration,words_num,wordsPerSec,secPerWord
0,You'll want to hurry and eat if you're to meet...,3.128,14,4.475703,0.223429
1,We made a practical decision. We'll just have ...,2.795,13,4.651163,0.215000
2,"With any luck, Mrs. Spencer will have picked o...",2.878,12,4.169562,0.239833
3,"A hard worker and obedient, like we asked for.",3.545,9,2.538787,0.393889
4,I couldn't tolerate a lazy boy or a sullen boy.,2.837,10,3.524850,0.283700
...,...,...,...,...,...
3701,"It's simple fare, but thank you.",2.086,6,2.876318,0.347667
3702,I wonder what's happened to that other fellow ...,2.711,11,4.057543,0.246455
3703,That must be him.,1.501,4,2.664890,0.375250
3704,I'll get it.,1.042,3,2.879079,0.347333
3705,Please tell me this is Green Gables.,2.002,7,3.496503,0.286000

## 이상치 제거
### 1. 1개의 단어로 된 문장 제거
### 2. Words Per Sec 값이 0.5 이하인 문장 제거

In [106]:
df = df[df['words_num']!=1]
df = df[df['wordsPerSec']>=0.5].sort_values('words_num')
df

,script,duration,words_num,wordsPerSec,secPerWord
2572,Not now.,1.460,2,1.369863,0.730000
2600,That's French!,1.001,2,1.998002,0.500500
2914,They're amazing.,1.251,2,1.598721,0.625500
1300,Not possible.,1.293,2,1.546790,0.646500
1028,Hyah! Hyah!,2.377,2,0.841397,1.188500
...,...,...,...,...,...
1220,"Do not say 'I love her' for her smile, her loo...",16.225,39,2.403698,0.416026
701,"Remember when we were young, Marilla, old lady...",11.386,40,3.513086,0.284650
1851,For some bleak pittance e'er compelled to roam...,20.187,43,2.130084,0.469465
944,I like to imagine that I am a princess in a to...,17.058,50,2.931176,0.341160
83,"And I've given it a lot of thought, and I am d...",15.140,51,3.368560,0.296863

## describe 보기

In [107]:
df.describe()

          duration    words_num  wordsPerSec   secPerWord
count  3475.000000  3475.000000  3475.000000  3475.000000
mean      2.600453     8.131223     3.098348     0.362066
std       1.413033     4.909901     0.945341     0.144140
min       0.834000     2.000000     0.592066     0.146000
25%       1.627000     5.000000     2.398082     0.266900
50%       2.294000     7.000000     3.108348     0.321714
75%       3.170000    11.000000     3.746722     0.417000
max      20.187000    51.000000     6.849315     1.689000

In [108]:
df = df.sort_values('wordsPerSec')
pd.set_option('min_rows', 10)
pd.set_option('max_rows', 10)
display(df.head(10), df.tail(10))

                          script  duration  words_num  wordsPerSec  secPerWord
1444         Anne... Cordelia...     3.378          2     0.592066    1.689000
347      I, Princess Cordelia...     4.421          3     0.678580    1.473667
183           It's... wonderful.     2.627          2     0.761325    1.313500
3330  Indisposed. Unfortunately.     2.461          2     0.812678    1.230500
1028                 Hyah! Hyah!     2.377          2     0.841397    1.188500
3691              Anne, Matthew.     2.336          2     0.856164    1.168000
2346            Well, I-I-I-I...     2.211          2     0.904568    1.105500
1246           -Please. -Please?     2.211          2     0.904568    1.105500
3529         How about... truce?     3.295          3     0.910470    1.098333
136                  No, indeed.     2.169          2     0.922084    1.084500

,script,duration,words_num,wordsPerSec,secPerWord
430,Do you take me for a fool?,1.210,7,5.785124,0.172857
167,A boy will be a great help.,1.210,7,5.785124,0.172857
495,"If you like, I can take her now.",1.377,8,5.809731,0.172125
1755,"Well, at least we can agree on that.",1.376,8,5.813953,0.172000
2163,I don't see how I'm ever gonna be a good wife.,1.877,11,5.860416,0.170636
2956,"Uh, no, no. She's come to stay with us for at ...",2.377,14,5.889777,0.169786
763,"What I said to you was true, too, but I should...",2.253,14,6.213937,0.160929
2834,Do you wish her to freeze to death as well?,1.584,10,6.313131,0.158400
2830,I want to get by with steam and night air unti...,2.502,16,6.394884,0.156375
2968,Do I have to explain it to you as well?,1.460,10,6.849315,0.146000

In [109]:
df = df.sort_values('secPerWord')
df.tail(10)

                          script  duration  words_num  wordsPerSec  secPerWord
136                  No, indeed.     2.169          2     0.922084    1.084500
3529         How about... truce?     3.295          3     0.910470    1.098333
1246           -Please. -Please?     2.211          2     0.904568    1.105500
2346            Well, I-I-I-I...     2.211          2     0.904568    1.105500
3691              Anne, Matthew.     2.336          2     0.856164    1.168000
1028                 Hyah! Hyah!     2.377          2     0.841397    1.188500
3330  Indisposed. Unfortunately.     2.461          2     0.812678    1.230500
183           It's... wonderful.     2.627          2     0.761325    1.313500
347      I, Princess Cordelia...     4.421          3     0.678580    1.473667
1444         Anne... Cordelia...     3.378          2     0.592066    1.689000

In [110]:
result = df['wordsPerSec'].describe().to_frame().transpose()[['mean', 'std', 'min', 'max']]
result['title'] = title
result = result.set_index('title')
result = result.rename(columns={'mean':'WPS_mean', 'std':'WPS_std', 'min':'WPS_min', 'max':'WPS_max'})
result

                WPS_mean   WPS_std   WPS_min   WPS_max
title
Anne.with.an.E  3.098348  0.945341  0.592066  6.849315

## df_result에 합치기

In [111]:
df_result = pd.concat([df_result, result])
df_result

                           WPS_mean   WPS_std   WPS_min    WPS_max
title
13TH                       2.961973  0.793955  1.065530   5.997001
About.Time                 2.182928  1.094544  0.503440   6.080000
Anne.with.an.E             3.098348  0.945341  0.592066   6.849315
Arthur.Christmas           2.156860  0.925752  0.510204   5.263158
Baby.Driver                2.833974  1.249704  0.574053  10.657194
...                             ...       ...       ...        ...
Three.Identical.Strangers  3.051841  1.033558  0.736594   7.733952
Virunga                    2.318065  0.882764  0.625000   6.818182
What.the.Health            3.100264  0.851034  0.799041   7.084469
Zodiac                     3.030728  0.970173  0.538117   7.377805
Anne.with.an.E             3.098348  0.945341  0.592066   6.849315

[74 rows x 4 columns]

# 위의 코드들 합쳐서 한 번에 모든 작품 돌리기

In [ ]:
import os
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# import matplotlib as mpl
# import warnings
# warnings.filterwarnings('ignore')

path = '../..'
# path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/팀_공유_폴더'
script_path = f'{path}/script'
word_path = f'{path}/words/final_datasets'

if os.path.exists(f'{word_path}/all_scripts_WPS.csv'):
    df_result = pd.read_csv(f'{word_path}/all_scripts_WPS.csv', index_col='title')
else:
    df_result = pd.DataFrame(columns=['title', 'WPS_mean', 'WPS_std', 'WPS_min', 'WPS_max']).set_index('title')

display(df_result)

# 다큐멘터리(0), 드라마(1), 영화(2) 선택
category = 2
if category == 0:
    script_path_cat = script_path + '/Documentary'
elif category == 1:
    script_path_cat = script_path + '/Drama'
else:
    script_path_cat = script_path + '/Movie'

_list = os.listdir(script_path_cat)
file_list = []
for file in _list:
    if file.startswith('.'): continue
    file_list.append(file)

file_list = sorted(file_list)
print(f'작품개수: {len(file_list)}')
count = 0
for index, title in enumerate(file_list):
    print(f'[{index}: {title}]', end=', ')
    count += 1
    if count%5 == 0:
        print()

In [ ]:
for i in range(len(file_list)):
    # 바로 위 코드에서 file_list를 참고하여 작품 선택
    title = file_list[i]
    if (df_result.index==title).any(): continue

    file_name = title + '.WEBRip.Netflix.en[cc]'
    # print(f'{path}/{title}/{file_name}')

    df_file = pd.read_csv(f'{script_path_cat}/{title}/{file_name}.csv')
    df = df_file

    df['start'] = pd.to_datetime(df['start'])
    df['end'] = pd.to_datetime(df['end'])

    df['duration'] = df['end'] - df['start']
    df['duration'] = df['duration'].astype('str')
    df['duration'] = df['duration'].str.split(' ').str[2]
    df['duration'] = df['duration'].str.split(':').str[2].astype('float')

    df = df.drop(columns=['start', 'end'])

    df['words_num'] = df['script'].apply(lambda x: len(x.split(' ')))

    df['wordsPerSec'] = df['words_num'] / df['duration']
    df['secPerWord'] = df['duration'] / df['words_num']

    df = df[df['words_num']!=1]
    df = df[df['wordsPerSec']>=0.5].sort_values('words_num')

    result = df['wordsPerSec'].describe().to_frame().transpose()[['mean', 'std', 'min', 'max']]
    result['title'] = title
    result = result.set_index('title')
    result = result.rename(columns={'mean':'WPS_mean', 'std':'WPS_std', 'min':'WPS_min', 'max':'WPS_max'})

    df_result = pd.concat([df_result, result])

df_result

## CSV 파일로 변환

In [ ]:
df_result = df_result.sort_index()
df_result.to_csv(f'{word_path}/all_scripts_WPS.csv')