In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['font.family'] = 'AppleGothic'
# plt.rcParams['font.family'] = 'NanumGothic'

In [39]:
pd.options.display.float_format = '{:.0f}'.format

word_db_df = pd.read_csv("../../words/final_datasets/words_df_final_naver_proper_noun.csv")
word_db_df.set_index('Word', inplace=True)
word_db_df

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun
Word,,,,,,,,,,,,,
a,NN,0,0,NN,Y,N,N,N,A1,A1,2,True,False
aback,NN,0,0,NN,N,N,N,N,B3,C1,0,False,False
abacus,NN,0,0,NN,N,N,N,N,C3,C3,1,True,False
abalone,NN,0,0,NN,N,N,N,N,C3,NN,0,True,False
abandon,B2,3000,0,NN,N,N,N,N,A2,A3,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
zygomorphic,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False
zygosity,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False
zygote,NN,0,6,science,N,N,N,N,C1,C3,0,True,False
zygotic,NN,0,0,NN,N,N,N,N,C3,NN,0,False,False
émigré,NN,0,0,NN,N,N,N,N,C2,C2,0,False,False

In [9]:
word_db_df['lexile_category'].unique()

array(['NN', 'social_studies', 'general', 'science', 'math'], dtype=object)

## 난이도 조건들

In [40]:
# oxford level
oxford_A1 = word_db_df['oxford_level'] == 'A1'
oxford_A2 = word_db_df['oxford_level'] == 'A2'
oxford_B1 = word_db_df['oxford_level'] == 'B1'
oxford_B2 = word_db_df['oxford_level'] == 'B2'
oxford_C1 = word_db_df['oxford_level'] == 'C1'

# oxford version
oxford_3000 = word_db_df['oxford_version'] == 3000
oxford_5000 = word_db_df['oxford_version'] == 5000

# lexile grade
lex1 = word_db_df['lexile_grade'] == 1
lex2 = word_db_df['lexile_grade'] == 2
lex3 = word_db_df['lexile_grade'] == 3
lex4 = word_db_df['lexile_grade'] == 4
lex5 = word_db_df['lexile_grade'] == 5
lex6 = word_db_df['lexile_grade'] == 6
lex9 = word_db_df['lexile_grade'] == 9

# lexile category
lex_general = word_db_df['lexile_category'] == 'general'
lex_ss = word_db_df['lexile_category'] == 'social_studies'
lex_science = word_db_df['lexile_category'] == 'science'
lex_math = word_db_df['lexile_category'] == 'math'

# awsl toefl tsl bsl
awsl = word_db_df['awsl'] == 'Y'
toefl = word_db_df['toefl'] == 'Y'
tsl = word_db_df['tsl'] == 'Y'
bsl = word_db_df['bsl'] == 'Y'

# ngsl
ngsl_A1 = word_db_df['ngsl_freq'] == 'A1'
ngsl_A2 = word_db_df['ngsl_freq'] == 'A2'
ngsl_A3 = word_db_df['ngsl_freq'] == 'A3'
ngsl_A4 = word_db_df['ngsl_freq'] == 'A4'
ngsl_B1 = word_db_df['ngsl_freq'] == 'B1'
ngsl_B2 = word_db_df['ngsl_freq'] == 'B2'
ngsl_B3 = word_db_df['ngsl_freq'] == 'B3'
ngsl_C1 = word_db_df['ngsl_freq'] == 'C1'
ngsl_C2 = word_db_df['ngsl_freq'] == 'C2'
ngsl_C3 = word_db_df['ngsl_freq'] == 'C3'

# naver
naver_P2 = word_db_df['naver_priority'] == 2
naver_P1 = word_db_df['naver_priority'] == 1
naver_P0 = word_db_df['naver_priority'] == 0




# # 1. oxford A1, lexile-1-general
# con1 = (word_db_df['oxford_level'] == 'A1') | ((word_db_df['lexile_grade'] == 1) & (word_db_df['lexile_category'] == 'general'))
# # 2. lexile-2-general
# con2 = (word_db_df['lexile_grade'] == 2) & (word_db_df['lexile_category'] == 'general')
# # 3. ngsl-A1
# con3 = (word_db_df['ngsl_freq'] == 'A1')
# # 4. oxford-A2
# con4 = (word_db_df['oxford_level'] == 'A2')
# # 5. lexile-3-general
# con5 = (word_db_df['lexile_grade'] == 3) & (word_db_df['lexile_category'] == 'general')
# # 6. ngsl-A2
# con6 = (word_db_df['ngsl_freq'] == 'A2')

# # 7. awsl
# con7 = (word_db_df['awsl'] == 'Y')
# # 8. oxford-B1
# con8 = (word_db_df['oxford_level'] == 'B1')
# # 9. ngsl-A3
# con9 = (word_db_df['ngsl_freq'] == 'A3')
# # 10. lexile-1-others (math, science, social_studies)
# con10 = ((word_db_df['lexile_grade'] == 1) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 1) & (word_db_df['lexile_category'] == 'social_studies')) | ((word_db_df['lexile_grade'] == 1) & (word_db_df['lexile_category'] == 'science'))
# # 11. lexile-5-general
# con11 = (word_db_df['lexile_grade'] == 5) & (word_db_df['lexile_category'] == 'general')
# # 12. naver-P2
# con12 = (word_db_df['naver_priority'] == 2)

# # 13. oxford-B2
# con13 = (word_db_df['oxford_level'] == 'B2')
# # 14. ngsl-A4
# con14 = (word_db_df['ngsl_freq'] == 'A4')
# # 15. tsl
# con15 = (word_db_df['tsl'] == 'Y')
# # 16. bsl
# con16 = (word_db_df['bsl'] == 'Y')
# # 17. lexile-2-ss, lexile-3-ss, lexile-4-ss, lexile-5-ss
# con17 = ((word_db_df['lexile_grade'] == 2) & (word_db_df['lexile_category'] == 'social_studies')) | ((word_db_df['lexile_grade'] == 3) &  (word_db_df['lexile_category'] == 'social_studies')) | ((word_db_df['lexile_grade'] == 4) & (word_db_df['lexile_category'] == 'social_studies')) | ((word_db_df['lexile_grade'] == 5) & (word_db_df['lexile_category'] == 'social_studies'))
# # 18. lexile-6-general, ss
# con18 = ((word_db_df['lexile_grade'] == 6) & (word_db_df['lexile_category'] == 'general')) | ((word_db_df['lexile_grade'] == 6) & (word_db_df['lexile_category'] == 'social_studies')) 
# # 19. toefl, ngsl-B1
# con19 = (word_db_df['toefl'] == 'Y') | (word_db_df['ngsl_freq'] == 'B1')
# # 20. oxford-C1
# con20 = (word_db_df['oxford_level'] == 'C1')
# # 21. ngsl-B2
# con21 = (word_db_df['ngsl_freq'] == 'B2')
# # 22. lexile-2-others (math, science)
# con22 = ((word_db_df['lexile_grade'] == 2) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 2) & (word_db_df['lexile_category'] == 'science'))
# # 23. lexile-9-general
# con23 = (word_db_df['lexile_grade'] == 9) & (word_db_df['lexile_category'] == 'general')
# # 24. naver-P1
# con24 = (word_db_df['naver_priority'] == 1)

# # 25. lexile-3,4-others (math, science)
# con25 = ((word_db_df['lexile_grade'] == 3) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 3) & (word_db_df['lexile_category'] == 'science')) | ((word_db_df['lexile_grade'] == 4) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 4) & (word_db_df['lexile_category'] == 'science'))
# # 26.lexile-9-ss
# con26 = (word_db_df['lexile_grade'] == 9) & (word_db_df['lexile_category'] == 'social_studies')
# # 27. ngsl-B3
# con27 = (word_db_df['ngsl_freq'] == 'B3')
# # 28. ngsl-C1
# con28 = (word_db_df['ngsl_freq'] == 'C1')

# # 29. ngsl-C2~C5
# con29 = (word_db_df['ngsl_freq'] == 'C2') | (word_db_df['ngsl_freq'] == 'C3') | (word_db_df['ngsl_freq'] == 'C4') | (word_db_df['ngsl_freq'] == 'C5')
# # 30. lexile-5-others (math, science)
# con30 = ((word_db_df['lexile_grade'] == 5) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 5) & (word_db_df['lexile_category'] == 'science'))
# # 31. lexile-6-others (math, science)
# con31 = ((word_db_df['lexile_grade'] == 6) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 6) & (word_db_df['lexile_category'] == 'science'))
# # 32. lexile-9-others (math, science)
# con32 = ((word_db_df['lexile_grade'] == 9) & (word_db_df['lexile_category'] == 'math')) | ((word_db_df['lexile_grade'] == 9) & (word_db_df['lexile_category'] == 'science'))
# # 33. naver-P0
# con33 = (word_db_df['naver_priority'] == 0)

In [41]:
level1 = oxford_A1 | oxford_A2

level2_1 = ((lex1 & lex_math) | (lex1 & lex_ss) | (lex1 & lex_general) | (lex1 & lex_science))
level2_2 = lex2 & lex_general
level2_3 = oxford_B1
level2_4 = oxford_B2 & oxford_3000
level2_5 = ngsl_A1 | ngsl_A2

level2 = level2_1 | level2_2 | level2_3 | level2_4 | level2_5

level3_1 = awsl
level3_2 = lex3 & lex_general
level3_3 = lex4 & lex_general
level3_4 = lex5 & lex_general
level3_5 = oxford_B2 & oxford_5000
level3_6 = naver_P2
level3_7 = ngsl_A3 | ngsl_A4 | ngsl_B1 | ngsl_B2

level3 = level3_1 | level3_2 | level3_3 | level3_4 | level3_5 | level3_6 | level3_7

level4_1 = oxford_C1
level4_2 = toefl
level4_3 = tsl
level4_4 = bsl
level4_5 = ((lex2 & lex_ss) | (lex3 & lex_ss) | (lex4 & lex_ss) | (lex5 & lex_ss))
level4_6 = lex6 & lex_general
level4_7 = lex9 & lex_general
level4_8 = naver_P1
level4_9 = ngsl_B3

level4 = level4_1 | level4_2 | level4_3 | level4_4 | level4_5 | level4_6 | level4_7 | level4_8 | level4_9

level5_1 = (lex2 & lex_math) | (lex2 & lex_science)
level5_2 = (lex3 & lex_math) | (lex3 & lex_science)
level5_3 = (lex4 & lex_math) | (lex4 & lex_science)
level5_4 = lex6 & lex_ss
level5_5 = ngsl_C1

level5 = level5_1 | level5_2 | level5_3 | level5_4 | level5_5

level6_1 = (lex5 & lex_math) | (lex5 & lex_science)
level6_2 = (lex6 & lex_math) | (lex6 & lex_science)
level6_3 = (lex9 & lex_math) | (lex9 & lex_science)
level6_4 = lex9 & lex_ss
level6_5 = naver_P0
level6_6 = ngsl_C2 | ngsl_C3

level6 = level6_1 | level6_2 | level6_3 | level6_4 | level6_5 | level6_6

In [42]:
word_db_df['word_level'] = np.nan
word_db_df

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun,word_level
Word,,,,,,,,,,,,,,
a,NN,0,0,NN,Y,N,N,N,A1,A1,2,True,False,NaN
aback,NN,0,0,NN,N,N,N,N,B3,C1,0,False,False,NaN
abacus,NN,0,0,NN,N,N,N,N,C3,C3,1,True,False,NaN
abalone,NN,0,0,NN,N,N,N,N,C3,NN,0,True,False,NaN
abandon,B2,3000,0,NN,N,N,N,N,A2,A3,2,True,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zygomorphic,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False,NaN
zygosity,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False,NaN
zygote,NN,0,6,science,N,N,N,N,C1,C3,0,True,False,NaN
zygotic,NN,0,0,NN,N,N,N,N,C3,NN,0,False,False,NaN
émigré,NN,0,0,NN,N,N,N,N,C2,C2,0,False,False,NaN

In [6]:
word_db_df.loc[con1 | con2 | con3, 'word_level'] = 5
word_db_df[con1 | con2 | con3]

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun,word_level
Word,,,,,,,,,,,,,,
a,NN,0,0,NN,Y,N,N,N,A1,A1,2,True,False,5
ability,A2,3000,4,general,N,N,N,N,A1,A1,2,True,False,5
able,A2,3000,0,NN,Y,N,N,N,A1,A1,2,True,False,5
about,A1,3000,0,NN,Y,N,N,N,A1,A1,2,False,False,5
above,A1,3000,0,NN,Y,N,N,N,A1,A2,2,True,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yet,A2,3000,0,NN,Y,N,N,N,A1,A1,2,False,False,5
you,A1,3000,0,NN,Y,N,N,N,A1,A1,2,True,False,5
young,A1,3000,0,NN,Y,N,N,N,A1,A1,2,True,False,5
your,A1,3000,0,NN,N,N,N,N,NN,NN,2,False,False,5
yourself,A1,3000,0,NN,N,N,N,N,A1,A1,2,True,False,5

In [43]:
word_db_df.loc[level6, 'word_level'] = 6
word_db_df.loc[level5, 'word_level'] = 5
word_db_df.loc[level4, 'word_level'] = 4
word_db_df.loc[level3, 'word_level'] = 3
word_db_df.loc[level2, 'word_level'] = 2
word_db_df.loc[level1, 'word_level'] = 1
word_db_df

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun,word_level
Word,,,,,,,,,,,,,,
a,NN,0,0,NN,Y,N,N,N,A1,A1,2,True,False,2
aback,NN,0,0,NN,N,N,N,N,B3,C1,0,False,False,4
abacus,NN,0,0,NN,N,N,N,N,C3,C3,1,True,False,4
abalone,NN,0,0,NN,N,N,N,N,C3,NN,0,True,False,6
abandon,B2,3000,0,NN,N,N,N,N,A2,A3,2,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zygomorphic,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False,6
zygosity,NN,0,0,NN,N,N,N,N,C4,NN,0,False,False,6
zygote,NN,0,6,science,N,N,N,N,C1,C3,0,True,False,5
zygotic,NN,0,0,NN,N,N,N,N,C3,NN,0,False,False,6
émigré,NN,0,0,NN,N,N,N,N,C2,C2,0,False,False,6

In [44]:
word_db_df['word_level'].value_counts()

6    15284
4     5650
3     5388
5     3275
1     1685
2     1435
Name: word_level, dtype: int64

In [45]:
word_db_df.to_csv('../../words/final_datasets/words_df_word_level_final.csv')