In [15]:
import pandas as pd

words_df = pd.read_csv("../final_datasets/words_df_final.csv", index_col='Word')
words_df

naver_df = pd.read_csv("../priority_concat.csv", index_col="Word")
naver_df

              naver_priority
Word
a                          2
abandon                    2
ability                    2
abolish                    1
about                      2
...                      ...
ice cream                  2
login                      0
ma'am                      1
o'clock                    2
repairperson               0

[32061 rows x 1 columns]

In [16]:
words_df.update(naver_df)
words_df

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized
Word,,,,,,,,,,,,
a,NN,0,0,NN,Y,N,N,N,A1,A1,2.0,True
aback,NN,0,0,NN,N,N,N,N,B3,C1,0.0,False
abacus,NN,0,0,NN,N,N,N,N,C3,C3,1.0,True
abalone,NN,0,0,NN,N,N,N,N,C3,NN,0.0,True
abandon,B2,3000,0,NN,N,N,N,N,A2,A3,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
zygomorphic,NN,0,0,NN,N,N,N,N,C4,NN,0.0,False
zygosity,NN,0,0,NN,N,N,N,N,C4,NN,0.0,False
zygote,NN,0,6,science,N,N,N,N,C1,C3,0.0,True
zygotic,NN,0,0,NN,N,N,N,N,C3,NN,0.0,False
émigré,NN,0,0,NN,N,N,N,N,C2,C2,0.0,False

In [8]:
missing = words_df[words_df.naver_priority.isnull()]
# missing.to_csv("../missing_priority.csv")

## Add back missing ones

In [17]:
missing_filled = pd.read_csv("../missing_priority_filled.csv", index_col="Word")
missing_filled

words_df.update(missing_filled)
words_df.naver_priority = words_df.naver_priority.astype(int)

words_df

,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized
Word,,,,,,,,,,,,
a,NN,0.0,0.0,NN,Y,N,N,N,A1,A1,2,True
aback,NN,0.0,0.0,NN,N,N,N,N,B3,C1,0,False
abacus,NN,0.0,0.0,NN,N,N,N,N,C3,C3,1,True
abalone,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,True
abandon,B2,3000.0,0.0,NN,N,N,N,N,A2,A3,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...
zygomorphic,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False
zygosity,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False
zygote,NN,0.0,6.0,science,N,N,N,N,C1,C3,0,True
zygotic,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,False
émigré,NN,0.0,0.0,NN,N,N,N,N,C2,C2,0,False

In [18]:
# words_df.to_csv("../final_datasets/words_df_final_naver.csv")